<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-default bg-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <div class="collapse navbar-collapse w-100 order-3 dual-collapse2">
                    <ul class="nav navbar-nav ml-auto">
                        <%if(!currentUser){%>
                            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                            <li class="nav-item"><a href="/register" class="nav-link">Sign Up</a></li>
                        <%} else {%>
                            <li class="nav-item"><a href="#" class="nav-link">Signed in as  <%= currentUser.username %></a></li>
                            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert"><%= success %></div>
            <% } %>
        </div>